

# Directories
__pycache__/


# Elastic Beanstalk files
.elasticbeanstalk/
.ebextensions
.ebignore

# Ignore version control directories
.git/
.gitignore

# Docker files
Dockerrun.aws.json
docker-compose.yml

# Nginx
nginx/

# Psql files
database/

# Redis
redis/

# Load testing
/load_testing


# Environment Variables
*.env
