<!-- Inherit: 'index.html' -->
{% extends "index.html" %}

<!-- Title of Page -->
{% block title %}
{{ about_page_data.page_title }}
{% endblock %}

{% block links %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css') }}">
{% endblock %}

<!-- Start: Page Content -->
{% block content %}

<!-- Start: Project Overview -->
<div class="project-overview">

    <!-- Wrapper for Centering-->
    <div class="content-wrapper">
        <p>
            {{ about_page_data.project_overview | safe }}
            {{ about_page_data.additional_info | safe }}
        </p>

    </div>
</div>

<!-- Link to JavaScript -->
<script src="{{ url_for('static', filename='script.js') }}"></script>

<!-- Pass 'errors_json' dictionary to script.js -->
<script type="text/javascript">var errors = JSON.parse('{{ errors_json|safe }}');</script>

<!-- End: Content-->
{% endblock %}