
<!--Inherit index.html-->
{% extends "index.html" %}

<!-- Title of Page -->
{% block title %}
Contact
{% endblock %}

{% block links %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contact.css') }}">
{% endblock %}

<!-- Start: Page Content -->
{% block content %}

<div class="container-fluid mt-5 content-above-footer">
    <div class="row">

        <!-- Page Header: Contact-->
        <div class="contact-header-container mt-5">
            <div class="row">
                <h1><b>Contact Me</b></h1>
            </div>
        </div>

        <!--Start: Form-->
        <div class="contact-form-container" >
            <form action="/contact " method="post">
                <div class="row">

                    <!--Email-->
                    <div class="email-field-container">
                        <label for="email">Email</label>
                        <input id="email" class="email" type="email" name="email" placeholder="Enter your email" required>
                    </div>

                    <!--Name-->
                    <div class="name-field-container">
                        <label for="name">Your Name</label>
                        <input id="name" class="name" type="text" name="name" placeholder="Enter your name" required>
                    </div>

                    <!--Subject-->
                    <div class="subject-field-container">
                        <label for="subject">Subject</label>
                        <input id="subject" class="subject" type="text" name="subject" placeholder="Enter the subject" required>
                    </div>

                    <!--Message-->
                    <div class="message-field-container">
                        <label for="message">Message</label>
                        <textarea id="message" class="message" name="message" placeholder="Enter your message" required></textarea>
                    </div>

                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    <b>{{ message }}</b>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    <!--Submit Button-->
                    <div class="submit-button-container">
                        <button type="submit">Submit</button>
                    </div>

                </div>
            </form>
        </div>



    </div>
</div>

<!-- Link to JavaScript -->
<script src="{{ url_for('static', filename='contact.js') }}"></script>






{% endblock %}






