<!-- Inherit "index.html" -->
{% extends "index.html" %}

<!-- Tab title -->
{% block title %}
Creator: Andrew O'Drain
{% endblock %}

<!-- Links -->
{% block links %}
{{ super() }}
<!--suppress ALL -->
<link rel="stylesheet" href="{{ url_for('static', filename='welcome.css') }}">
{% endblock %}

<!-- Start of page content -->
{% block content %}
<div class="container-fluid mt-5 content-above-footer">
    <div class="row">

		<!-- Profile picture -->
		<div class="col-xs-12">
			<div class="text-center" style="margin-top: 5vh">
				<img src="{{ url_for('static', filename=welcome_page_data.profile_image_url) }}" alt="Photo"
					 class="img-fluid rounded-circle mx-auto d-block profile-pic">
			</div>

			<!-- Sub-profile text -->
			<h1 class="text-center mt-2"
				style="color: #FFFFFF; text-shadow: 2px 2px 5px rgb(0.0, 0.0, 0.5); margin-top: 2vh"><b>{{
				welcome_page_data.name }}</b></h1>
			<h2 class="text-center mt-2"
				style="color: #FFFFFF; text-shadow: 2px 2px 5px rgb(0.0, 0.0, 0.5); margin-top: 2vh"><b>{{
				welcome_page_data.qualification }}</b></h2>
		</div>

		<!-- Temple logo -->
		<div class="col-xs-12">
			<div class="text-center" style="margin-top: 2vh; margin-bottom: 2vh;">
				<img src="{{ url_for('static', filename=welcome_page_data.institution_logo_url) }}" alt="Photo"
					 class="img-fluid mx-auto d-block logo">
			</div>
			<h2 class="text-center mt-2 business-school"
				style="color: #FFFFFF; text-shadow: 2px 2px 5px rgb(0.0, 0.0, 0.5); margin-bottom: 5vh;"><b>{{
				welcome_page_data.institution_name }}</b></h2>

		</div>
	</div>

	<!-- Text section part 1 -->
	<div class="col-xs-12" style="color: #FFFFFF; text-shadow: 1px 1px 2px rgb(0.0, 0.0, 0.2);">
		<div class="text-center">
			<h2>{{ welcome_page_data.intro_header }}</h2>
			<br>

			<!-- Diamonds -->
			<div class="container">
				<div class="diamond-bullets">
					<span>&#10070;</span>
					<span>&#x2756;</span>
					<span>&#x2756;</span>
				</div>
			</div>
			<br>

			<!-- Text section part 2 -->
			<h4>{{ welcome_page_data.intro_text | safe }}</h4>

		</div>
	</div>

	<!-- Start: reason-box container -->
	<div class="container">
		<div class="row">

			<!-- Loop: populate data for reason boxes -->
			{% for usp_item in welcome_page_data.usp_data %}
			<div class="col-md-4">
				<div class="reason-box{{ loop.index }}">
					<h5><b>{{ usp_item.title }}</b></h5>
					<p><b><i>{{ usp_item.description }}</i></b></p>
				</div>
			</div>
			{% endfor %}

		</div>
	</div>
</div>

<!-- End: page content -->
{% endblock %}