


.container-fluid {
    padding-top: None; /* Adjust this value based on the height of your navbar */
}

.navbar {
    z-index: 1000;

}
.profile-pic {
    max-width: 300px;
    width: 300px;
    margin-top: 1px; /* Adjust the top margin */
    margin-left: 1px; /* Adjust the left margin */
    border: 2px solid grey;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}


.text-box {

    max-width: 600px;
    margin: 0 auto;

}

h3 {
    font-family: Helvetica Neue, sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #0D1117;
    text-decoration: underline;
    line-height: 1.5;
}

body {
    font-family: Helvetica Neue, sans-serif;
    font-size: 11px;
    margin: 0;
}

body:not(.form-container) {
    background-color: #c0f4c5;
}

.form-container {
    max-width: 400px; /* Adjust the maximum width as needed */
    width: 100%; /* Ensure the container takes full width */
    margin: 99px auto 20px;
    padding: 20px;
    border: 2px solid grey;
    border-radius: 20px;
    background-color: #c0f4c5;
    cursor: pointer;
    max-height: calc(100vh - 300px);
    overflow-y: auto; /* Enable vertical scrolling if needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

/* Add text shadow */
.form-container,
.form-container label,
.form-container select,
.form-container input[type="text"],
.form-container input[type="submit"] {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Add a subtle text shadow for depth */
}

.form-container input[type="text"],
.form-container input[type="submit"],
.form-container select {
    border-width: 0.5px; /* Adjust the thickness as needed */
}

input[type="text"],
select {
    width: calc(100% - 50%);
    padding: 5px;
    margin-bottom: 10px;
    background-color: white; /* Removed quotes around color name */
}

input[type="submit"] {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group {
    width: 100%;
    margin-bottom: 1px;
}

input[type="text"],
select {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 0px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Adjust the padding or margin of the content above the footer */
.content-above-footer {
    padding-bottom: 60px; /* Adjust the value based on the height of the footer */
}


.footer {
    background-color: #333; /* Choose your desired background color */
    color: white; /* Text color for contrast */
    padding: 15px 0; /* Adjust padding as needed */
    text-align: center; /* Center align the text */
    position: fixed; /* Fixed positioning */
    left: 0; /* Align to the left */
    bottom: 0; /* Align to the bottom */
    width: 100%; /* Span the entire width of the page */
}

.footer-text {
    font-size: 12px; /* Adjust font size as needed */
}



