
.profile-pic {
    font-family: 'Bebas Neue', united-serif;
    max-width: 220px;
    width: 230px;
    margin-top: 20px;
    margin: 0 auto 20px;
    display: block;
    border: 1px outset #e76f51;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.logo {
    margin: 5px 5px;
    max-width: 200px;
    width: 200px;
    border: 3px outset #e76f51;
    padding: 0px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8)
}

body:not(.logo) {
    background-color: #2a9d8f;
    cursor: pointer;
}

.business-school {
    margin-top: 20px;
    margin-bottom: 20px;
}

.reason-box1 h5 {
    background-image: url('analytical.emoji.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75px 75px;
    padding: 30px 0px;
}

.reason-box1 {
    text-align: center;
    max-width: 500px;
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #ddb892;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(255, 255, 255, 0.3), inset 0 -1px 2px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    border: 3px outset #e76f51;
}

.down-arrow {
    text-align: center;
    margin: 20px 0;
}

.down-arrow img {
    width: 125px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
    background-color: #77bfa3;
    border-radius: 20px;
}

.reason-box2 h5 {
    background-image: url('handshake.emoji.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110px 75px;
    padding: 30px 0px;
}

.reason-box2 {
    text-align: center;
    max-width: 500px;
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #ddb892;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(255, 255, 255, 0.3), inset 0 -1px 2px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    border: 3px outset #e76f51;
}

.reason-box3 h5 {
    background-image: url('strong.emoji.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px 80px;
    padding: 30px 0px;
}

.reason-box3 {
    text-align: center;
    max-width: 500px;
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #ddb892;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(255, 255, 255, 0.3), inset 0 -1px 2px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    border: 3px outset #e76f51;
}

@media (max-width: 1368px) {
    .reason-box1 {
        padding-bottom: 39px;
    }
}

@media (max-width: 1366px) {
    .reason-box1, .reason-box2, .reason-box3 {
            margin-bottom: 50px;
            margin-bottom: 20vh;
    }
    .reason-box1 {
        padding-bottom: 39px;
    }
}

@media (max-width: 1280px) {
    .reason-box1 {
        padding-bottom: 37px;
    }
}

@media (max-width: 1180px) {
    .reason-box2 {
        padding-bottom: 40px;
    }
    .reason-box3 {
        padding-bottom: 40px;
    }
}

@media (max-width: 1024px) {
    .reason-box2 {
        padding-bottom: 40px;
    }
    .reason-box3 {
        padding-bottom: 40px;
    }
    .reason-box1, .reason-box2, .reason-box3 {
        margin-bottom: 50px;
        margin-bottom: 40vh;
        font-size: 16px;
    }
}

@media (max-width: 932px) {
    .reason-box1 {
        padding-bottom: 62px;
    }
    .reason-box3 {
        padding-bottom: 40px;
    }
}

@media (max-width: 914px) {
    .reason-box1 {
        padding-bottom: 86px;
    }
    .reason-box3 {
        padding-bottom: 64px;
    }
}

@media (max-width: 912px) {
    .reason-box1 {
        padding-bottom: 86px;
    }
    .reason-box3 {
        padding-bottom: 63px;
    }
}

@media (max-width: 896px) {
    .reason-box1 {
        padding-bottom: 62px;
    }
    .reason-box3 {
        padding-bottom: 40px;
    }
}

@media (max-width: 892px) {
    .reason-box1 {
        padding-bottom: 86px;
    }
    .reason-box3 {
        padding-bottom: 63px;
    }
}

@media (max-width: 853px) {
    .reason-box1 {
        padding-bottom: 86px;
    }
    .reason-box3 {
        padding-bottom: 64px;
    }
}

@media (max-width: 820px) {
    .reason-box1, .reason-box2, .reason-box3 {
        margin-bottom: 50px;
        margin-bottom: 35vh;
        font-size: 12px;
    }
    .reason-box1 h5, .reason-box2 h5, .reason-box3 h5 {
        background-size: 50px 50px;
        background-repeat: no-repeat;
        background-position: center;
        padding: 5px 5px;
    }
    .reason-box1, .reason-box2, .reason-box3 {
        padding-bottom: 20px;
    }
}

@media (max-width: 800px) {
    .reason-box1, .reason-box2, .reason-box3 {
        margin-bottom: 50px;
        margin-bottom: 35vh;
        font-size: 12px;
    }
    .reason-box1 h5, .reason-box2 h5, .reason-box3 h5 {
        background-size: 50px 50px;
        background-repeat: no-repeat;
        background-position: center;
        padding: 5px 5px;
    }
    .reason-box1, .reason-box2, .reason-box3 {
        padding-bottom: 20px;
    }
}

@media (max-width: 736px) {
    .reason-box1, .reason-box2, .reason-box3 {
        margin-bottom: 15px;
    }

@media (max-width: 731px) {
    .reason-box1, .reason-box2, .reason-box3 {
        margin-bottom: 15px;
    }

@media (max-width: 720px) {
    .reason-box1, .reason-box2, .reason-box3 {
        margin-bottom: 15px;
    }


@media (max-width: 712px) {
    .reason-box1, .reason-box2, .reason-box3 {
        margin-bottom: 5px;
    }
    .reason-box3 {
        margin-bottom: 30vh;
    }
}

@media (max-width: 640px) {
    .reason-box1, .reason-box2, .reason-box3 {
        font-size: 14px;
    }
    .reason-box1 h5, .reason-box2 h5, .reason-box3 h5 {
        background-size: 38px 38px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media (max-width: 600px) {
    .reason-box1, .reason-box2, .reason-box3 {
        margin-bottom: 5px;
    }
    .reason-box3 {
        margin-bottom: 20vh;
    }
}

@media (max-width: 384px) {
    .reason-box1 {
        padding-bottom: 37px;
    }
    .reason-box1 h5, .reason-box2 h5, .reason-box3 h5 {
        background-size: 38px 38px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.diamond-bullets {
    list-style: none;
    padding: 0;
    margin-top; 10px
    margin-bottom: 10px;
}

.diamond-bullets span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 20px;
    font-size: 20px;
    color: #a9def9;
    text-align: center;
    text-shadow: 2px 2px 4px rgb(0.0, 0.0, 0.5);
    line-height: 20px;
}

@media (max-width: 280px) {
    .footer-text {
        font-size: 10px;
    }
}
