

# Directories
csv_files/
tsv_files/
psv_files/
data/
notebook/
logs/
__pycache__/
.venv/
venv/
env/
.env/
.idea/
.vscode/
dist/
out/
target/
.ipynb_checkpoints/
aws_eb_deploy/

# Windows system files
.DS_Store
Thumbs.db

# Python-specific files
*.pyo
*.pyc

# Virtual environments
*.env

# Logs and databases
*.sql
*.sqlite
db.sqlite*

# Compiled files
*.class
*.jar
*.war
*.ear
*.hprof
*.min.js
*.min.css

# LaTeX files
*.aux
*.bbl
*.blg
*.out

# Backup & temp files
*.bak
*.swp
*.tmp
*~

# Csv's
*.csv

# Tsv's
*.tsv

# Psv's
*.psv

# Elastic Beanstalk files
!.elasticbeanstalk/*
