Resources:
  PsqlLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: "/aws/elasticbeanstalk/portfolio-app/psql"
      RetentionInDays: 7

  AppLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: "/aws/elasticbeanstalk/portfolio-app/app"
      RetentionInDays: 7

  RedisLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: "/aws/elasticbeanstalk/portfolio-app/redis"
      RetentionInDays: 7

  CeleryLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: "/aws/elasticbeanstalk/portfolio-app/celery"
      RetentionInDays: 7

  NginxLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: "/aws/elasticbeanstalk/portfolio-app/nginx"
      RetentionInDays: 7
