option_settings:
  aws:elasticbeanstalk:application:environment:
    HEALTH_CHECK_URL: "/health"

  aws:elasticbeanstalk:environment:
    ServiceRole: "aws-elasticbeanstalk-service-role"

  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: "/health"
    HealthCheckInterval: "30"
    HealthCheckTimeout: "5"
    HealthCheckCount: "2"
    HealthCheckSuccessThreshold: "2"
    HealthCheckFailureThreshold: "5"

  aws:elasticbeanstalk:command:
    Timeout: 600

  aws:elasticbeanstalk:environment:loadbalancer:
    HealthCheckPath: "/health"
    Interval: 30
    Timeout: 5
    HealthyThreshold: 2
    UnhealthyThreshold: 5