files:
  "/etc/logrotate.d/nginx":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/nginx/*.log {
          daily
          rotate 7
          compress
          missingok
          notifempty
          create 640 root adm
          sharedscripts
          postrotate
              /bin/systemctl reload nginx > /dev/null 2>/dev/null || true
          endscript
      }

  "/etc/logrotate.d/modsecurity":
    mode: "000644"
    owner: root
    group: root
    content: |
      /opt/modsecurity/var/log/debug.log {
          daily
          rotate 7
          compress
          missingok
          notifempty
          create 640 root adm
          sharedscripts
          postrotate
              /bin/systemctl reload nginx > /dev/null 2>/dev/null || true
          endscript
      }
      /var/log/modsec_audit.log {
          daily
          rotate 7
          compress
          missingok
          notifempty
          create 640 root adm
          sharedscripts
          postrotate
              /bin/systemctl reload nginx > /dev/null 2>/dev/null || true
          endscript
      }

  "/etc/logrotate.d/psql":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/app/current/database/psql-data/*.log {
          daily
          rotate 7
          compress
          missingok
          notifempty
          create 640 root adm
          sharedscripts
          postrotate
              docker restart psql_container > /dev/null 2>/dev/null || true
          endscript
      }

  "/etc/logrotate.d/redis":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/app/current/redis_database/redis-data/*.log {
          daily
          rotate 5
          compress
          missingok
          notifempty
          create 640 root adm
          sharedscripts
          postrotate
              docker restart redis_container > /dev/null 2>/dev/null || true
          endscript
      }
      /var/app/current/redis_database/redis-config/*.log {
          daily
          rotate 5
          compress
          missingok
          notifempty
          create 640 root adm
          sharedscripts
          postrotate
              docker restart redis_container > /dev/null 2>/dev/null || true
          endscript
      }

  "/etc/logrotate.d/nginx-healthd":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/app/current/nginx/conf/logs/healthd/*.log {
          daily
          rotate 5
          compress
          missingok
          notifempty
          create 640 root adm
          sharedscripts
          postrotate
              /bin/systemctl reload nginx > /dev/null 2>/dev/null || true
          endscript
      }

  "/etc/logrotate.d/modsecurity-config":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/app/current/nginx/modsecurity/conf/*.log {
          daily
          rotate 5
          compress
          missingok
          notifempty
          create 640 root adm
          sharedscripts
          postrotate
              /bin/systemctl reload nginx > /dev/null 2>/dev/null || true
          endscript
      }

  "/etc/logrotate.d/modsecurity-tmp":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/app/current/nginx/modsecurity/mod-tmp-data/*.log {
          daily
          rotate 5
          compress
          missingok
          notifempty
          create 640 root adm
          sharedscripts
          postrotate
              /bin/systemctl reload nginx > /dev/null 2>/dev/null || true
          endscript
      }

  "/etc/logrotate.d/modsecurity-data":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/app/current/nginx/modsecurity/mod-data/*.log {
          daily
          rotate 5
          compress
          missingok
          notifempty
          create 640 root adm
          sharedscripts
          postrotate
              /bin/systemctl reload nginx > /dev/null 2>/dev/null || true
          endscript
      }
