
@media (max-width: 932px) and (orientation: landscape) {
    .navbar-toggler {
        margin-right: 80px;
    }
}

@media (max-width: 896px) and (orientation: landscape) {
    .navbar-toggler {
        margin-right: 50px;
    }
}

@media (max-width: 667px) and (orientation: landscape) {
    .navbar-toggler {
        margin-left: 80px;
    }
}

.model-page-header h1 {
    margin-top: 2vh;
    font-size: 42px;
    color: #e3d5ca;
    text-shadow: 2px 2px 5px rgb(0, 0, 0.5);
    text-align: center;
    line-height: 1.5;
}

@media (max-width: 1180px) {
    .model-page-header h1 {
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .model-page-header h1 {
        font-size: 30px;
    }
}

@media (max-width: 932px) {
    .model-page-header h1 {
        font-size: 34px;
    }
}

@media (max-width: 280px) {
    .model-page-header h1 {
        font-size: 30px;
    }
}

.logos {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 195px;
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 50px;

}

@media (max-width: 1366px) {
    .logos {
        max-width: 100px;
    }
}

@media (max-width: 1180px) {
    .logos {
        max-width: 100px;
    }
}

@media (max-width: 1024px) {
    .logos {
        max-width: 130px;
    }
}

@media (max-width: 932px) {
    .logos {
        max-width: 150px;
    }
}

@media (max-width: 896px) {
    .logos {
        max-width: 150px;
        justify-content: center;
    }
}

@media (max-width: 853px) {
    .logos {
        max-width: 150px;
    }
}

@media (max-width: 820px) {
    .logos {
        max-width: 140px;
    }
}

@media (max-width: 768px) {
    .logos {
        max-width: 140px;
    }
}

@media (max-width: 740px) {
    .logos {
        max-width: 120px;
    }
}

@media (max-width: 667px) {
    .logos {
        max-width: 120px;
    }
}

@media (max-width: 653px) {
    .logos {
        max-width: 110px;
    }
}

@media (max-width: 600px) {
    .logos {
        max-width: 100px;
    }
}

@media (max-width: 540px) {
    .logos {
        max-width: 161px;
    }
}

@media (max-width: 430px) {
    .logos {
        margin-top: 25px;
        padding: 5px;
        margin-bottom: 20px;
    }
}

@media (max-width: 430px) {
    .logos {
        max-width: 195px;
    }
}

@media (max-width: 375px) {
    .logos {
        max-width: 195px;
    }
}

@media (max-width: 280px) {
    .logos {
        max-width: 150px;
    }
}

body:not(.form-container){
    background-color: #2a9d8f;
    cursor: pointer;
}

.prediction-box {
    font-size: 32px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #3776ab;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #22333b;
    background-color: #bde0fe;
}

@media (max-width: 1366px) {
    .prediction-box {
        width: 50%;
        max-width: 100px;
        margin: 20px auto;
        padding: 20px;
    }
}

@media (max-width: 1180px) {
    .prediction-box {
        width: 50%;
        max-width: 100px;
        margin: 20px auto;
        padding: 20px;
    }
}

@media (max-width: 280px) {
    .prediction-box {
        width: 50%;
        max-width: 100px;
        margin: 20px auto;
        padding: 20px;
    }
}

@media (max-width: 1366px) {
    .prediction-label {
        font-size: 24px;
    }
}

@media (max-width: 1366px) {
    .prediction-result {
        font-size: 20px;
    }
}

@media (max-width: 1180px) {
    .prediction-label {
        font-size: 24px;
    }
}

@media (max-width: 1180px) {
    .prediction-result {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .prediction-box {
        max-width: 300;
    }
}

@media (max-width: 667px) {
    .prediction-box {
        max-width: 300;
    }
}

@media (max-width: 1024px) {
    .prediction-box {
        font-size: 24px;
    }
}

@media (max-width: 915px) {
    .prediction-label {
        font-size: 24px;
    }
}

@media (max-width: 667px) {
    .prediction-label {
        font-size: 24px;
    }
}

@media(max-width: 461px) {
    .prediction-result {
        font-size: 24px;
    }
}

@media(max-width: 430px) {
    .prediction-label {
        font-size: 24px;
    }
}

@media (max-width: 280px) {
    .prediction-label {
        font-size: 32px;
    }
}

@media(max-width: 430px) {
    .prediction-result {
        font-size: 24px;
    }
}

@media(max-width: 375px) {
    .prediction-label {
        font-size: 18px;
    }
}

@media(max-width: 375px) {
    .prediction-label {
        font-size: 22px;
    }
}

@media(max-width: 280px) {
    .prediction-label {
        font-size: 22px;
    }
}

@media(max-width: 256px) {
    .prediction-label {
        font-size: 12px;
    }
}

@media(max-width: 768px) {
    .prediction-result {
        font-size: 22px;
    }
}

@media(max-width: 375px) {
    .prediction-result {
        font-size: 18px;
    }
}

@media(max-width: 310px) {
    .prediction-result {
        font-size: 14px;
    }
}

@media(max-width: 280px) {
    .prediction-result {
        font-size: 16px;
    }
}

@media(max-width: 256px) {
    .prediction-result {
        font-size: 12px;
    }
}

.form-container {
    max-width: 375px;
    width: 100%;
    margin: 90px auto;
    padding: 20px;
    border: 2px solid grey;
    border-radius: 20px;
    cursor: pointer;
    overflow-y: auto;
    background-color: #ddb892;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(255, 255, 255, 0.3), inset 0 -1px 2px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    border: 3px outset #e76f51;
    cursor: pointer;
}

.form-container h3 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
}

@media(max-width: 375px) {
    .form-container h3 {
        font-size: 20px;
    }
}

@media(max-width: 360px) {
    .form-container h3 {
        font-size: 20px;
    }
}

@media(max-width: 280px) {
    .form-container h3 {
        font-size: 16px;
    }
}

@media (max-width: 912px) {
    body, .page-container {
        padding-bottom: 35vh;
    }
}

@media (max-width: 768px) {
    body, .page-container {
        padding-bottom: 10vh;
    }
}

@media (max-width: 768px) {
    .form-container {
        margin-bottom: 100px;
    }
}

@media (max-width: 712px) {
    body {
        padding-bottom: 20vh;
    }
}

@media(max-width: 280px) {
    .form-container {
        max-width: 250px;
    }
}

.form-container,
.form-container label,
.form-container select,
.form-container input[type="text"],
.form-container input[type="submit"] {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.form-container input[type="text"],
.form-container select {
    border-width: 2px;
}

input[type="submit"] {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: 0.5px solid grey;
    border-radius: 3px;
    cursor: pointer;
}

input[type="text"],
select {
    width: calc(100% - 20px);
    padding: 8px;
    margin: 0px;
    color: #38302e;
    cursor: pointer;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    cursor: pointer;
}

.error-input {
    border: 10px solid #d80032;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.error-stars {
    color: red;
}

.error-message {
    text-align: center;
}
